@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
    --primary-color:#1e6262; 
    --secondary-color:#2d767f; 
    --third-color:#e6f5f5;
    --light-color:#fff;
    --gray-color:#fffbfb;  
}
/* Target the snackbar container */
.mat-mdc-snack-bar-container.custom-snackbar {
    --mdc-snackbar-container-color: #fff;
    --mdc-snackbar-supporting-text-color: #1e6262;  
    text-align: center; 

}

.mat-mdc-snack-bar-container.custom-snackbar .mdc-snackbar__surface {  
    min-width: 180px;   
    min-height: 50px;
}




/* 
.mat-mdc-snack-bar-container.custom-snackbar .mdc-snackbar__label,
.mat-mdc-snack-bar-container.custom-snackbar .mdc-snackbar__actions {
    color: rgb(22, 13, 102);
 
} */



